  <!-- Botón para redirigir a cotización -->

<div class="carousel-container">
  <h2 class="carousel-title">Nuestros Proyectos</h2>
  <div class="carousel">
    <div class="carousel-images">
      <div *ngFor="let project of projects; let i = index" class="carousel-item" [class.active]="i === currentIndex">
        <img [src]="project.RutaImagen" alt="{{project.NombreProyecto}}"*ngIf="project.RutaImagen" class="carousel-image">

        <div class="carousel-caption">
          <h3>{{ project.NombreProyecto }}</h3>
          <p>{{ project.DetallesA }}</p> <!-- Si deseas mostrar más detalles -->
        </div>
      </div>
    </div>
    <button class="carousel-button prev" (click)="prevSlide()">❮</button>
    <button class="carousel-button next" (click)="nextSlide()">❯</button>
  </div>
   <!-- Cuadro para mostrar la ubicación del proyecto -->
    <button class="cotizacion-button" (click)="irACotizacion()">Solicitar Cotización</button>
   <div class="project-location">
    <p>Ubicación: {{ projects[currentIndex]?.Ubicacion }}</p>
  </div>

<div class="whatsapp-icon">
  <a href="https://wa.me/50242111021" target="_blank">
    <img src="/assets/imagenes/whasapp.png" alt="WhatsApp" />
  </a>
  <a href="https://www.facebook.com/tu-pagina" target="_blank">
    <img src="/assets/imagenes/facebook.png" alt="Facebook" />
  </a>
  <a href="https://www.instagram.com/tu-pagina" target="_blank">
    <img src="/assets/imagenes/instagram1.jpeg" alt="Instagram" />
  </a>
</div>
