.carousel-container {
  position: relative;
  width: 90%;
  max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  overflow: hidden;
}

.carousel-title {
  text-align: center;
  font-size: 2.5rem; /* Aumentar el tamaño de la fuente */
  color: #007b5f; /* Un color verde más suave */
  margin-bottom: 30-px; /* Aumentar el margen inferior */
  font-weight: 700; /* Negrita */
  text-transform: uppercase; /* Todo en mayúsculas */
  letter-spacing: 2px; /* Espaciado más amplio entre letras */
  position: relative; /* Para el efecto de subrayado */
}

.carousel-title::after {
  content: ''; /* Pseudo-elemento para el subrayado */
  display: block;
  width: 80%; /* Ancho del subrayado */
  height: 4px; /* Grosor del subrayado */
  background: linear-gradient(90deg, #00b09b, #96c93d); /* Degradado */
  margin: 10px auto 0; /* Margen superior y centrado */
  border-radius: 5px; /* Bordes redondeados */
}


.carousel {
  position: relative;
  width: 100%;
}

.carousel-images {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  display: none; /* Oculta todas las imágenes por defecto */
  position: relative;
}

.carousel-item.active {
  display: block; /* Muestra la imagen activa */
}

.carousel-image {
  width: 100%;
  height: 550px; /* Ajusta el tamaño según tus necesidades */
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: rgba(23, 23, 23, 0.6);
  padding: 0px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  z-index: 10;
  font-size: 2rem;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
.whatsapp-icon {
  position: fixed; /* Fija el ícono en la pantalla */
  bottom: 50px; /* A 20px desde la parte inferior de la ventana */
  right: 50px; /* A 20px desde la parte derecha de la ventana */
  z-index: 1000; /* Asegura que el ícono esté por encima de otros elementos */
}

.whatsapp-icon img {
  width: 60px; /* Ajusta el tamaño del ícono */
  height: 60px;
  border-radius: 50%; /* Hacer que el ícono sea redondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  transition: transform 0.3s; /* Animación suave al pasar el mouse */
}

.whatsapp-icon img:hover {
  transform: scale(1.1); /* Agranda el ícono al pasar el mouse */
}



.project-location {
  margin-top: 20px;
  padding: 15px; /* Espaciado interior */
  background: linear-gradient(135deg, #00b09b, #96c93d); /* Degradado de color verde a lima */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centrar texto */
  font-size: 18px; /* Tamaño de fuente más grande */
  color: #ffffff; /* Color del texto blanco */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.project-location:hover {
  transform: translateY(-4px); /* Efecto de elevación al pasar el ratón */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al pasar el ratón */
}

.project-location p {
  margin: 0; /* Eliminar márgenes del párrafo */
  font-weight: 600; /* Peso de fuente negrita */
  text-transform: capitalize; /* Texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
}
.cotizacion-button {
  background-color: #1E0D0D; /* Color de fondo oscuro */
  color: #f8f9fa; /* Color del texto en blanco claro */
  border: none; /* Sin borde */
  padding: 12px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  border-radius: 50px; /* Bordes muy redondeados para un look moderno */
  font-size: 15px; /* Tamaño de fuente */
  transition: background-color 0.3s, transform 0.3s; /* Efecto de transición */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  margin-top: 20px; /* Espacio arriba del botón */
  letter-spacing: 1px; /* Espaciado entre letras */
}

.cotizacion-button:hover {
  background-color: #d9534f; /* Cambia el color de fondo al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Aumentar la sombra al hacer hover */
}
