
.quienes-somos {
  padding: 30px 20px;
  background-color: #ffffff; /* Fondo blanco */
}

.quienes-somos .title-container {
  text-align: center; /* Alinea el título a la derecha */
  margin-bottom: 20px; /* Espacio debajo del título */
  font-size: 20px;
  font-family: 'Roboto', Inika;
  margin-top: 60px;
}

.quienes-somos-content {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacio entre la imagen y el texto */
}

.image-container {
  flex: 1;
  max-width: 50%; /* Ajusta el ancho máximo del contenedor de la imagen */
  height: 300px; /* Ajusta la altura según sea necesario */


}

.text-container {
  flex: 2; /* Permite que el texto ocupe más espacio */
  margin-left: 10px; /* Espacio entre la imagen y el texto */
  max-width: 60%; /* Ajusta el ancho máximo del texto */
  font-size: 28px;
  font-family: 'Roboto', Inika;

}

