
<!-- Sección de Quiénes somos -->
<div id="quienes-somos" class="quienes-somos">
  <div class="title-container">

    <h1 class="page-title">¿Quiénes somos?</h1>
  </div>


  <div class="quienes-somos-content">
    <div class="image-container">
      <!-- La imagen se establece a través de CSS -->
    </div>
    <div class="text-container">
      <p>
        En Servicios Varios y Remodelación J&R, somos expertos en construir y remodelar para el sector comercial y residencial.
        Nuestra pasión por la excelencia nos impulsa a ofrecerte una amplia gama de servicios, todos adaptados a tus necesidades específicas.
        ¿Estás listo para transformar tu espacio en algo extraordinario? Te invitamos a explorar nuestra sección de servicios,
        donde descubrirás cómo podemos convertir tus ideas en realidad con soluciones innovadoras y de alta calidad.

        Nuestro equipo profesional está comprometido a garantizar resultados que cumplan con los más altos estándares de eficacia y satisfacción.
        Tu éxito es nuestra máxima prioridad. ¡Déjanos ayudarte a hacer realidad el proyecto de tus sueños!</p>
    </div>
  </div>





