
<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="" class="nav-link">Inicio</a>

    <a routerLink="/servicios" class="nav-link">Servicios</a>
    <a routerLink="/proyectos" class="nav-link">Proyectos</a>
    <a routerLink="/contacto" class="nav-link">Contacto</a>

    <a routerLink="/seguimiento-cotizacion" class="nav-link">Consultar Cotización</a>

  </div>
</nav>



 <!-- Este es el contenedor donde se mostrarán las vistas de las rutas -->
<router-outlet></router-outlet>


<!-- Barra de información -->
<div class="info-bar">
  <p>PBX: 5456-9378</p>
  <p>Email: <span>serviciosjr23&#64;gmail.com</span></p>
  <p>11ª Avenida 26-244, Zona 13, Colonia La Libertad, Ciudad de Guatemala, Guatemala</p>
</div>









