
<!-- Elemento que representa el inicio de la página -->
<div id="inicio" class="title-container">
  <h1 class="page-title">Servicios Varios y Remodelación J&R</h1>
</div>

<div class="content"></div>

<footer class="social-links">
  <a href="https://www.instagram.com/tu_perfil" class="social-link" target="_blank">Instagram</a>
  <a href="https://www.facebook.com/tu_pagina" class="social-link" target="_blank">Facebook</a>
</footer>

<!-- Sección 'Quiénes somos' -->
<div id="quienes-somos">
<app-quienes-somos></app-quienes-somos></div>
<!-- Nueva sección para 'Nuestros Clientes' -->

<div id="nuestros-clientes" class="clientes-container">
  <h2 class="clientes-title">Nuestros Clientes</h2>
  <!-- Aquí podrías agregar más contenido sobre los clientes, como imágenes, testimonios, etc. -->
</div>
<div class="clientes-gallery">
  <div class="cliente-item">
    <img src="/assets/imagenes/vinci.png" alt="Cliente 1">
  </div>
  <div class="cliente-item">
    <img src="/assets/imagenes/gallo.png" alt="Cliente 2">
  </div>
  <div class="cliente-item">
    <img src="/assets/imagenes/igss.png" alt="Cliente 3">
  </div>

</div>

