.seguimiento-cotizacion-container {
  max-width: 580px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9; /* Fondo gris claro para suavidad */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0; /* Borde sutil */
}

h2 {
  text-align: center;
  color: #343a40; /* Color más oscuro para el título */
  margin-bottom: 20px;
  font-weight: bold; /* Negrita para mayor énfasis */
}

.form-cotizacion {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px 3px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 16px; /* Aumento del tamaño de fuente */
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de sombra al enfocarse */
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #425d42;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold; /* Negrita para mayor énfasis */
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #484a4a; /* Color más oscuro al pasar el mouse */
}

.resultado-cotizacion {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  background-color: #e9f7fe; /* Fondo azul claro para el resultado */
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.1);
}

.detalle p {
  margin: 10px 0; /* Espaciado uniforme */
  font-size: 15px; /* Tamaño de fuente un poco más pequeño */
  color: #495057; /* Color de texto gris oscuro */
}

.error-mensaje {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #dc3545;
  border-radius: 4px;
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold; /* Negrita para destacar mensajes de error */
}



.whatsapp-icon {
  position: fixed; /* Fija el ícono en la pantalla */
  bottom: 50px; /* A 20px desde la parte inferior de la ventana */
  right: 50px; /* A 20px desde la parte derecha de la ventana */
  z-index: 1000; /* Asegura que el ícono esté por encima de otros elementos */
}

.whatsapp-icon img {
  width: 60px; /* Ajusta el tamaño del ícono */
  height: 60px;
  border-radius: 50%; /* Hacer que el ícono sea redondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  transition: transform 0.3s; /* Animación suave al pasar el mouse */
}

.whatsapp-icon img:hover {
  transform: scale(1.1); /* Agranda el ícono al pasar el mouse */
}
.whatsapp-icon {
  position: fixed; /* Fija el ícono en la pantalla */
  bottom: 50px; /* A 20px desde la parte inferior de la ventana */
  right: 50px; /* A 20px desde la parte derecha de la ventana */
  z-index: 1000; /* Asegura que el ícono esté por encima de otros elementos */
}

.whatsapp-icon img {
  width: 60px; /* Ajusta el tamaño del ícono */
  height: 60px;
  border-radius: 50%; /* Hacer que el ícono sea redondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  transition: transform 0.3s; /* Animación suave al pasar el mouse */
}

.whatsapp-icon img:hover {
  transform: scale(1.1); /* Agranda el ícono al pasar el mouse */
}
